
<div>
    <h2> Menu </h2>
    {% if user != false %}
        <ul>
            <li><a href="{{ path("") }}"> Se déconnecter </a></li>
            {% if (user.roles[0] == 'ROLE_USER' or user.roles[0] == 'ROLE_ADMIN') %}
                <li><a href="{{ path("") }}"> Modifier mon profil </a></li>
                <li><a href="{{ path("") }}"> Produits du magasin </a></li>
                <li><a href="{{ path("") }}"> Mon panier </a></li>
                {% if user.roles[0] == 'ROLE_ADMIN' %}
                    <li><a href="{{ path("") }}"> Gérer les clients </a></li>
                    <li><a href="{{ path("") }}"> Ajouter un produit </a></li>
                    <li><a href="https://fr.wikipedia.org/wiki/The_Truman_Show"> The Truman Show </a></li>
                {% endif %}
            {% elseif user.roles[0] == 'ROLE_SUPER_ADMIN' %}
                <li><a href="{{ path("") }}"> Gérer les administrateurs </a></li>
            {% endif %}
        </ul>
    {% else %}
        <ul>
            <li><a href="{{ path("") }}"> Page d'accueil </a></li>
            <li><a href="{{ path("") }}"> Se connecter</a></li>
            <li><a href="{{ path("") }}"> Créer un compte </a></li>
        </ul>
    {% endif %}
</div>